---
import Layout from '../../layouts/Layout.astro';
import FormTribeca from '../../components/FormTribeca';
---

<Layout title="Tribeca">
  <main class="w-full flex justify-center items-center">
    <FormTribeca client:load />
  </main>
</Layout>
