---
import Layout from '../../layouts/Layout.astro'
import Form50 from '../../components/Form50'
---

<Layout title="Flatiron">
	<main class="flex w-full items-center justify-center">
		<Form50 client:load />
	</main>
</Layout>
