---
import Layout from '../../layouts/Layout.astro'
import Form40 from '../../components/Form40'
---

<Layout title="Tribeca">
	<main class="flex w-full items-center justify-center">
		<Form40 client:load />
	</main>
</Layout>
