---
import Layout from '../../layouts/Layout.astro';
import FormFlatiron from '../../components/FormFlatiron';
---

<Layout title="Flatiron">
  <main class="w-full flex justify-center items-center">
    <FormFlatiron client:load />
  </main>
</Layout>
